.quote-text {
  max-width: 500px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.quote-author {
  font-size: 18px;
  color: whitesmoke;
}

@media (min-width: 450px) and (max-width: 650px) {
  .quote-text {
    font-size: 18px;
  }
  .quote-author {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .quote-text {
    font-size: 15px;
  }
  .quote-author {
    font-size: 12px;
  }
}
