.App {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;

  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 400px) and (max-width: 650px) {
  .clock {
    font-size: 70px;
  }
}

@media (max-width: 450px) {
  .App {
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 400px;
  }
}
